/* reset 样式 */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    /* 标识当前所有子元素的box-sizing属性均继承自父元素 */
    box-sizing: inherit;
}

body {
    /* 去掉默认的左右margin 8px */
    margin: 0;
    /* 字体14px 行高是字体的1.5倍 */
    font: 14px/1.5 Arial;
    color: #333;
    /* 页面采用grid布局 */
    display: grid;
    /* 网格布局采用2行3列 */
    grid: auto auto / 1fr 900px 1fr;
}

@media(max-width:900px) {
    body {
        grid: auto auto auto/ 1fr 678px 1fr;
    }
}

@media(max-width:678px) {
    body {
        grid: auto auto/1fr;
    }
}

header {
    /* header分别占据第一格行线和第二格行线 ，第一格列线和第三格列线*/
    grid-area: 1/1/2/4;
    padding: 20px 0;
    background-color: #444;
    text-align: center;
}

@media(max-width:678px) {
    header {
        grid-area: 1/1/2/2;
    }
}

header>.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

header>h1 {
    margin: 10px;
    font-size: 14px;
    color: rgb(250, 250, 250);
}

header>p {
    margin: 0;
    color: #999;
}

main {
    /*main 起始行线和列线分别占据第二格行线和第三格行线，第一格列线和第三格列线  */
    grid-area: 2/2/3/3;
    display: grid;
    grid: auto/ 300px 600px;
}

@media(max-width:678px) {
    main {
        grid-area: 2/1/3/2;
        grid: auto /auto;
        padding: 20px;
    }
}

.column-1 {
    grid-area: 1/1/2/2;
}

@media(max-width:678px) {
    .column-1 {
        grid-area: 1/1/2/2;
    }
}

.column-2 {
    grid-area: 1/2/2/3;
    margin-left: 30px;
}

@media(max-width:678px) {
    .column-2 {
        grid-area: 2/1/3/2;
        margin-left: 0;
    }
}

main section {
    margin: 30px 0;
    display: grid;
    grid: auto auto/50px auto;
    align-items: center;
}

main section>span.iconfont {
    grid-area: 1/1/2/2;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #77a8a3;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

main section>h2 {
    grid-area: 1/2/2/3;
    font-size: 18px;
    display: flex;
    align-items: center;
}

main section>h2::after {
    content: '';
    margin-left: 20px;
    height: 2px;
    flex: 1;
    background-color: #77a8a3;
}

main section>.detail {
    grid-area: 2/2/3/3;
    padding-left: 0;
}

.basic-info .detail {
    list-style: none;
    margin: 0;
    padding: 0;
}

.basic-info .detail li {
    display: flex;
    align-items: center;
}

.basic-info .detail .iconfont {
    font-size: 18px;
    margin-right: 10px;
}

.skills .detail {
    margin: 0;
    padding: 0;
}

.skills .detail li {
    margin-top: 10px;
}

.map .detail dd {
    height: 3px;
    border-radius: 3px;
    margin: 8px 0 16px 0;
    background-color: #eee;
}

.map .detail .bar {
    display: block;
    height: 3px;
    background-color: #77a8a3;
}

.layout-1 .detail>li {
    margin-top: 20px;
    display: grid;
    grid: auto auto /auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}

@media(max-width:678px) {
    .layout-1 .detail>li {
        grid: auto auto auto/ auto auto;
    }
}

.layout-1 .detail>li .timeline {
    grid-area: 1/1/2/2;
}

.layout-1 .detail>li h3 {
    grid-area: 1/2/2/3;
    margin: 0;
}

@media(max-width:678px) {
    .layout-1 .detail>li h3 {
        grid-area: 2/1/3/2;
    }
}

.layout-1 .detail>li .subtitle {
    grid-area: 1/3/2/4;
}

@media(max-width:678px) {
    .layout-1 .detail>li .subtitle {
        grid-area: 1/2/2/3;
        justify-self: end;
    }
}

.layout-1 .detail>li .content {
    grid-area: 2/2/3/4;
    margin: 0;
    padding: 0;
}

@media(max-width:678px) {
    .layout-1 .detail>li .content {
        grid-area: 3/1/4/3;
    }
}